<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1071128888001-tjsq7e1gmq4c345db7u9anh70ii5s1vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071128888001-tjsq7e1gmq4c345db7u9anh70ii5s1vt</string>
	<key>API_KEY</key>
	<string>AIzaSyB1KOP54oTzQBhmuY0Ga1rSprzLjPTuutg</string>
	<key>GCM_SENDER_ID</key>
	<string>1071128888001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>project.Swift-test</string>
	<key>PROJECT_ID</key>
	<string>unique-news-ce1c5</string>
	<key>STORAGE_BUCKET</key>
	<string>unique-news-ce1c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071128888001:ios:7fdef082afc38a3f</string>
	<key>DATABASE_URL</key>
	<string>https://unique-news-ce1c5.firebaseio.com</string>
</dict>
</plist>